<div class="competition-detail-bg">
    <div class="logo">
        <img src="assets/image/dota2@2x.png" alt="">
    </div>
    <div class="title">
        <label for="">The International 8</label>
    </div>
    <div class="match-count">
        <label for="">淘汰赛 BO5</label>
    </div>
    <div class="match-start-time">
        <label for="">2018-12-12 18:30</label>
    </div>
    <div class="match-status">
        <label for="">暂时代替竞猜中图片</label>
    </div>
    <div class="match-dead-line-label">
        <label for="">下注截止时间</label>
    </div>
    <div class="match-dead-line-time">
        <label for="">2018-12-12 18：30</label>
    </div>
</div>

