.navigation-bar {
    height: 59px;
    padding: 0;
    margin:0;
}

.navigation-bar,.second{
    margin: 0 10rem;
}

.logo{
    background-image: url(../../assets/image/BETMAN_LOGO.png);
    background-size: 100% 100%;
    height: 33px;
    width: 165px;
    margin-top: 14px;
}

.ant-menu-item-selected {
    color: white;
    background-color: red;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected {
    background-color: rgba(0, 0, 0, .01);
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li:hover{
    text-decoration: underline;
    text-decoration-color: white;
}