#### Intellij
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.ijwb/

# IntelliJ
out/

# Bazel
/bazel-*

# client
/third_party/node_js/node_modules/

# Don't upload local configuration.
bbuhot_server/configuration.json