.header-bg {
    /*background-color: blue;*/
}

nz-header {
    padding: 0;
    margin: 0;
    /*background-color: red;*/
    height: 50px;
}

nz-content {
    background-color: pink;
}

nz-footer  {
    background-color: blue;
}