:host {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex: 1 1 auto;
  min-height:100%;
}

.layout{
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex: 1 1 auto;
  background: #f5f7f9;
}
