:host {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 0 50px;
  background: #515a6e;
  justify-content: space-between;
  align-items: center;
  line-height: 60px;
}

.logo-top-left img {
  display: block;
  margin: auto;
}

.filling {
  flex: 1 1 auto;
}

a {
  float: left;
  padding: 0 20px;
  position: relative;
  cursor: pointer;
  z-index: 3;
  transition: all .2s ease-in-out;
  color: rgba(255,255,255,.7);
  text-decoration: none;
}