<div class="homepage">
  <div class="navigation">
    <div class="second d-flex justify-content-between mt-4">
      <div class="banner-slogan align-self-center"></div>
      <div class="user-interface">
        <div class="avatar"><img src="../../assets/image/avator.png" alt=""></div>
        <div class="detail-infomation">
          <div class="name">
            <h1 class="text-center">Berk</h1>
          </div>
          <div class="d-flex">
            <div class="col-6 gold">
              <div class="text-center letter mb-2">金币</div>
              <div class="text-center number mb-2">500,000</div>
            </div>
            <div class="col-6 integral">
              <div class="text-center letter mb-2">积分</div>
              <div class="text-center number mb-2">12,323</div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <button class="quiz">我的竞猜</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="quiz-page">
    <div class="upcoming"></div>
    <div class="spinach-items">
      <app-spinach-items></app-spinach-items>
    </div>
    <div class="spinach-items">
      
    </div>
    <div class="spinach-items">
      
    </div>
  </div>
</div>
