.homepage{
    background-color: #F5F5F5;
}

.navigation{
    background-image:url(../../assets/image/Gindex.png);
    background-size:100% 100%;
    height: 389px;
    margin-bottom: 2rem;
}
.banner-slogan{
    background-image: url(../../assets/image/banner-slogan@2x.png);
    background-size: 100% 100%;
    height: 160px;
    width: 627px;
}

.user-interface{
    height: 280px;
    width: 270px;
    background-color: white;
}

.avatar{
    height: 110px;
}

.avatar>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.letter{
    font-size:14px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(51,51,51,1);
}

.number{
    font-size:24px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(51,51,51,1);
}

.quiz{
    width: 85%;
    background: #222222;
    box-shadow: 0 2px 4px 0 rgba(31,29,28,0.60);
    border-radius: 4px;
    color: white;   
    border: none;
    outline: none;
    font-size:14px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
}

.upcoming{
    background-image: url(../../assets/image/part-title-upcoming@2x.png);
    background-size: 100% 100%;
    width: 221px;
    height: 66px;
    margin-bottom: 2.2rem;
}

.quiz-page{
    margin: 0 9rem;
}

.spinach-items{
    height: 170px;
    background-color: white;
    margin-bottom: 1rem;
}
