<nz-layout>
	<div class="layout-bg">

	<nz-header>
		<!--<div nz-row nzGutter="16" nzType="flex" nzJustify="center" nzAlign="middle">-->
			<!--这里应该是导航栏组件-->
		<!--</div>-->
        <app-navigation-bar></app-navigation-bar>
	</nz-header>
	<nz-content>
		<!--<div nz-row nzGutter="16" nzType="flex" nzJustify="center" nzAlign="bottom">-->
        <div class="content-bg">
            <div class="player">
				<app-competition-player></app-competition-player>
			</div>
            <div class="detail">
				<app-competition-detail></app-competition-detail>
			</div>
			<div class="player">
				<app-competition-player></app-competition-player>
			</div>
		</div>
		<!--</div>-->
	</nz-content>
	<nz-footer>
		<div class="footer-bg">
			<div class="footer-wrapper">
				<bbuhot-card (onClick)="onItemClick($event, quiz)" *ngFor="let quiz of QuizArr" [quiz]="quiz" [teamLeft]="quiz.teamLeft" [teamRight]="quiz.teamRight" class="footer-card"></bbuhot-card>
			</div>
			<div class="footer-bar-wrapper">
				<bbuhot-footer-bar (onConfirm)="onConfirmClick($event)" [quiz]="QuizArr[0]" [selectedTeam]="QuizArr[0].teamLeft"></bbuhot-footer-bar>
			</div>
		</div>
	</nz-footer>
	</div>
</nz-layout>
