<nz-layout>
	<div class="layout-bg">

	<nz-header>
		<div nz-row nzGutter="16" nzType="flex" nzJustify="center" nzAlign="middle">
			这里应该是导航栏组件
		</div>
	</nz-header>
	<nz-content>
		<div nz-row nzGutter="16" nzType="flex" nzJustify="center" nzAlign="middle">
			<div class="player" nz-col nzSpan="6">
				<app-competition-player></app-competition-player>
			</div>
			<div class="div2" nz-col nzSpan="4">
				<app-competition-detail></app-competition-detail>
			</div>
			<div class="player" nz-col nzSpan="6">
				<app-competition-player></app-competition-player>
			</div>
		</div>
	</nz-content>
	<nz-footer>预留footer</nz-footer>
	</div>
</nz-layout>
