<nz-layout>
	<div class="layout-bg">
		<nz-content>
			<div class="content-bg">
				<div class="player">
					<app-competition-player></app-competition-player>
				</div>
				<div class="detail">
					<app-competition-detail></app-competition-detail>
				</div>
				<div class="player">
					<app-competition-player></app-competition-player>
				</div>
			</div>
            <div class="detail">
				<app-competition-detail></app-competition-detail>
			</div>
			<div class="player">
				<app-competition-player></app-competition-player>
			</div>
		</div>
		<!--</div>-->
	</nz-content>
	<nz-footer>
		<div class="footer-bg">
			<div class="footer-wrapper">
				<bbuhot-card *ngFor="let quiz of QuizArr" [quiz]="quiz" class="footer-card"></bbuhot-card>
				<!-- <bbuhot-card class="footer-card"></bbuhot-card>
				<bbuhot-card class="footer-card"></bbuhot-card>
				<bbuhot-card class="footer-card"></bbuhot-card>
				<bbuhot-card class="footer-card"></bbuhot-card>
				<bbuhot-card class="footer-card"></bbuhot-card> -->
			</div>
			<div class="footer-bar-wrapper">
				<bbuhot-footer-bar (onConfirm)="onConfirmClick($event)" [quiz]="QuizArr[0]" [selectedTeam]="QuizArr[0].teamLeft"></bbuhot-footer-bar>
			</div>
		</div>
	</nz-footer>
	</div>
</nz-layout>
