* {
    margin: 0;
    padding: 0;
}

nz-layout {
    background-color: #F0F2F5;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40px;
    background-color: white;
    margin-top: 5px;
}

.header h1 {
    line-height: 40px;
    font-size: 30px;
}

.content-bg {
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.add-item-button {
    margin-left: 30px;
    margin-top: 20px;
    width: 100px;
    height: 30px;
}

.manage-item-list-bg {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    min-height: 790px;
}
