<div class="d-flex card">
  <div class="card-title d-flex justify-content-center">
    <div class="card-title-p d-flex align-items-center">猜输赢</div>
    <div class="card-title-status red align-self-center d-flex align-items-center justify-content-center">进行中</div>
  </div>
  <div class="card-body d-flex">
    <div class="win left-win">
      <div class="win-font d-flex align-items-center justify-content-center">
        <div class="win-font-1">胜</div>
      </div>
    </div>
    <div class="card-content flex-column d-flex justify-content-around align-items-center">
      <div class="d-flex justify-content-center align-items-center content-left">0.18</div>
      <div class="name">PSG.LGD</div>
    </div>
    <div class="card-content flex-column d-flex justify-content-around align-items-center">
      <div class="d-flex justify-content-center align-items-center content-right">0.18</div>
      <div class="name">PSG.LGD</div>
    </div>
  </div>
</div>