.item {
  display: flex;
}
.item-detail {
  display: flex;
}
.item-detail img {
  width: 70px;
  height: 70px;
  margin-left: 27px;
  margin-top: 50px;
}

.item-detail .item-time {
  margin-left: 15px;
  margin-top: 60px;
}

.item-player {
   display: block;
  margin-left: 150px;
   margin-top: 50px;
}
.item .item-player-name {
  position: relative;
  width:106px;
  height:33px;
  font-size:24px;
  font-family:PingFangSC-Semibold;
  font-weight:600;
  color:rgba(51,51,51,1);
  line-height:33px;
}

.item .item-player-ratio {
  position: relative;
  margin: auto;
  font-size:18px;
  font-family:PingFangSC-Medium;
  font-weight:500;
  color:rgba(251,13,13,1);
  line-height:25px;
}
