<div class="item">
  <div class="item-detail">
    <img src="assets/image/dota2.png" alt="item-type">
    <div class="item-time">
      <div class="text-nowrap">12-12</div>
      <div class="text-nowrap">18:30</div>
    </div>
  </div>
  <div class="item-guess d-flex justify-content-around">
    <div class="item-player d-flex flex-row justify-content-center flex-nowrap">
      <div class="d-flex flex-column align-items-center justify-content-center">
          <div style="width:100%" class="item-player-name d-flex justify-content-end">{{game.getName()}}</div>
          <div style="width:100%" class="item-player-ratio d-flex justify-content-end">1 : 0.12</div>
      </div>
      <div class="d-flex justify-content-center align-items-center team-pic">
          <img src="assets/image/dota2.png" width="70px" height="70px" alt="item-type">
      </div>
    </div>
    <div style="width:120px" class="item-player d-flex flex-column justify-content-center flex-nowrap">
      <div class="d-flex justify-content-center red-font">BO 8</div>
      <div class="center-button">
        <button type="button" class="btn btn-danger btn-block">预测</button>
      </div>
      <div class="center-button">
        <button type="button" class="btn btn-outline-danger btn-block">详情</button>
      </div>
    </div>
    <div class="item-player d-flex flex-row justify-content-center flex-nowrap">
      <div class="d-flex justify-content-center align-items-center team-pic">
        <img src="assets/image/dota2.png" width="70px" height="70px" alt="item-type">
      </div>
      <div class="d-flex flex-column align-items-center justify-content-center">
        <div style="width:100%" class="item-player-name d-flex justify-content-start">OG</div>
        <div style="width:100%" class="item-player-ratio d-flex justify-content-start">1 : 0.12</div>
      </div>
    </div>
    <div class="item-player d-flex flex-row justify-content-center flex-nowrap" style="padding:15px;">
      <img src="assets/image/csgo@2x.png" alt="item-type">
    </div>
  </div>
</div>

