<div class="card-bg">
    <div class="card-title">
        <div class="card-label">{{quiz.name}}</div>
        <div class="card-status-wrapper">
            <div [ngClass]="getStatusStyle()">
                <div class="card-statut-font">
                    {{getStatusName()}}
                </div>
            </div>
        </div>
    </div>
    <div class="card-horizontal_spliter"></div>
    <div class="team-wrapper">
        <div class="team-item team-left team-active_indicator" (click)="onItemClick($event, 'left')">
            <div *ngIf="isWin('left')" class="team-item-victory-tag">
                <div class="team-item-victory-tag-font">
                    胜
                </div>
            </div>
            <div [ngClass]="getRatioLabelStyle('left')">{{quiz.teamLeft.ratio}}</div>
            <div class="team-team_name">{{quiz.teamLeft.teamName}}</div>
        </div>
        <div class="card-vertical_spliter"></div>
        <div class="team-item team-right" (click)="onItemClick($event, 'right')">
            <div *ngIf="isWin('right')" class="team-item-victory-tag">
                <div class="team-item-victory-tag-font">
                    胜
                </div>
            </div>
            <div [ngClass]="getRatioLabelStyle('right')">{{quiz.teamRight.ratio}}</div>
            <div class="team-team_name">{{quiz.teamRight.teamName}}</div>
        </div>
    </div>
</div>