<div *ngIf="game.isSimpleGame; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    <div class="list-bg">
        <div class="game-type">
            <div class="game-logo">
                <img src="" width="100%" height="100%">
            </div>
            <div class="game-time">
                {{game.endTime.getMonth()}}/{{game.endTime.getDay()}} {{game.endTime.getHours()}}:{{game.endTime.getMinutes()}}
            </div>
        </div>
        <div class="team">
            <div class="team-name">{{game.firstBetOption.name}}</div>
            <div class="team-p">1 : {{game.firstBetOption.odds / 1000000.0}}</div>
        </div>
        <div class="team-logo">
            <div class="logo">
                <img src="" width="100%" height="100%">
            </div>
        </div>
        <div class="btn-group">
            <div class="bo-n">{{game.name}}</div>
            <div style="width:80%">
                <button type="error" long (click)="onClickBet()">预测 / 详情</button>
            </div>
        </div>
        <div class="team-logo">
            <div class="logo">
                <img src="" width="100%" height="100%">
            </div>
        </div>
        <div class="team">
            <div class="team-name">{{game.secondBetOption.name}}</div>
            <div class="team-p">1 : {{game.secondBetOption.odds / 1000000.0}}</div>
        </div>
    </div>
</ng-template>
<ng-template #elseBlock>
    <div class="list-bg">
        Game with not exactly two bets is not supported yet.
    </div>
</ng-template>
