<div class="logo">
  <img src="assets/image/betman-logo.png" alt="betman-logo">
</div>
<div class="filling"></div>
<nav>
  <ul>
    <li><a routerLink="lobby" routerLinkActive="active">Lobby</a></li>
    <li><a routerLink="series" routerLinkActive="active">Series</a></li>
    <li><a routerLink="leaderboard" routerLinkActive="active">Leaderboard</a></li>
    <!-- TODO (luciusgone): do not show this to non-admin user -->
    <li><a routerLink="admin" routerLinkActive="active">Admin</a></li>
    <!-- end -->
    <li><a href="/">BBS</a></li>
  </ul>
</nav>
