* {
    margin: 0;
    padding: 0;
}
.card-bg {
    width:350px;
    height:184px;
    background:rgba(255,255,255,1);
    box-shadow:6px 6px 10px 4px rgba(216,214,214,0.5);
}
.card-title {
    line-height: 53px;
    display: flex;
    height: 53px;
    background:rgba(255,255,255,1);
}
.card-label {
    /* width:73px;
    height:30px; */
    flex:1;
    text-align: right;
    margin-top: 12px;
    padding-right: 5px;
    font-size:22px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(51,51,51,1);
    line-height:30px;
    letter-spacing:2px;
}
.card-status-wrapper {
    flex:1;
}
.card-status {
    width:80px;
    height: 20px;
    margin-top: 18px;
    line-height: 20px;
    border-radius:50px;
    font-size:14px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(255,255,255,1);
    letter-spacing:1px;
}
.card-status-doing {
    background:rgba(251,13,13,1);
}
.card-status-todo {
    background:rgba(60,203,89,1);
}
.card-status-done {
    background:rgba(102,102,102,1);
}
.card-horizontal_spliter {
    height:1px;
    border:1px solid rgba(238,238,238,1);
}
.odd-wrapper {
    display: flex;
    margin-top: 1px;
    background:rgba(255,255,255,0);
}
.card-vertical_spliter {
    width:1px;
    margin-top: -1px;
    height: 128px;
    border:1px solid rgba(238,238,238,1);
}
.odd-item {
    flex: 1;
    height:127px;
}
.odd-left {
    width:174px;
}
.odd-right {
    width:176px;
}
.odd-ratio {
    margin: auto;
    margin-top: 21px;
    width:101px;
    height:46px;
    background:rgba(34,30,30,1);
    box-shadow:0px 2px 4px 0px rgba(31,29,28,0.6);
    border-radius:4px;
    font-size:22px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(255,255,255,1);
    line-height:46px;
    letter-spacing:2px;
}
.odd-ratio-disabled {

}
.odd-team_name {
    margin: auto;
    margin-top: 14px;
    width:95px;
    height:25px;
    font-size:18px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(51,51,51,1);
    line-height:25px;
    letter-spacing:2px;
}

.odd-active_indicator {
    border-bottom: 5px solid rgba(62,209,83,1);
}