<div class="card-bg">
    <div class="card-title">
        <div class="card-label">猜输赢</div>
        <div class="card-status-wrapper">
            <div class="card-status card-status-doing">
                <div class="card-statut-font">
                    进行中
                </div>
            </div>
        </div>
    </div>
    <div class="card-horizontal_spliter"></div>
    <div class="odd-wrapper">
        <div class="odd-item odd-left odd-active_indicator">
            <div class="odd-ratio">0.12</div>
            <div class="odd-team_name">PSG.LGD</div>
        </div>
        <div class="card-vertical_spliter"></div>
        <div class="odd-item odd-right">
            <div class="odd-ratio">0.18</div>
            <div class="odd-team_name">OG</div>
        </div>
    </div>
</div>