<div class="head-bg">
    <div class="head-pic">
        <img src="" width="100%" height="100%">
    </div>
    <div class="head-body">
        <div class="nick-name">{{name}}</div>
        <div class="point">
            <div class="point-jb">
                <div class="jb-big">金币</div>
                <div class="jb-small">123456</div>
            </div>
            <div class="point-pt">
                <div class="jb-big">积分</div>
                <div class="jb-small">123456</div>
            </div>
        </div>
        <div class="black-btn">
            <Button type="success" long>我的竞猜</Button>
        </div>
    </div>
</div>