<div class="root">
    <div *ngIf="!selectedTeam" class="footer-chip-alert">
        您还为选择任何盘口, 请先选择
    </div>
    <div *ngIf="selectedTeam" class="footer-chip-container">
        <div class="footer-chip-label">您在<span class="footer-chip-team-type">{{quiz.name}}</span>中选择了<span class="footer-chip-team-name">{{selectedTeam.teamName}}</span>，您的下注数额为：
        </div>
        <!-- <input class='footer-chip-input' placeholder='您的金币可用余额为：321,000' /> -->
        <input class='footer-chip-input' nz-input placeholder="您的金币可用余额为：321,000" [(ngModel)]="inputValue" (input)="onInputChange($event)">
        <div [ngClass]="{ 'footer-chip-confirm': true, 'footer-chip-confirm-disabled': btnDisabled}" (click)="onBtnClick()">确定</div>
    </div>
</div>